<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mission Control</title>
  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./stylesheet.css">
  <script src="./app.js"></script>
</head>
<body>

  <header class="mission-control-header">
    <p>2867 E Pinchot</p>
    <p>Mission Control</p>
  </header>

  <div class="status-display">
    <p>Status Display</p>
  </div>

  <div class="garage-button">
    
  </div>

</body>
</html>